body {
	background-color: #FF7F50;
	color: #008080;
	font-family: verdana;
}

h1 {
	font-size:30px; 
	color: #FFFF00; 
	font-family:verdana;
}
.Birthdays {
	border:7px;
	border-style:solid;
	border-color: #008080;
	border-width:2px;
	border-radius:6px;
	text-align: center;
}
.NewsSites {
	border:7px;
	border-style:solid;
	border-color: #008080;
	border-width:2px;
	border-radius:25px;
	text-align: center;
}
div {
	height:100px;
	width:240px;
	border-color: #FF4500;
	background-color: #FFFF00;
	border-style: solid;
	border-width: 10px;
	border-radius: 10px;
	margin:auto;
	text-align: center;
}
span {
	color:#0000FF;
	font-weight: bold;
	font-size:30px;
}
a {
	text-decoration: none;
	color:#FFA07A;
	font-family:Tahoma;
}
a:link {
	text-decoration: none;
	color:#FF1493;
}
a:hover {
	color:#00FF00;
}
a:visited {
	color:#80B000;
}
